<div id="carouselExampleCaptions" class="carousel slide carousel2">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/alumni.jpg" class="d-block w-100 imgCarousel" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <form action="/alumni" >
            <button class="btn btn-outline-light">Connect with Alumni</button>
        </form>
       <p>We have some excellent Alumni's from our institution who can guide us.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="images/club.jpg" class="d-block w-100 imgCarousel" alt="...">
      <div class="carousel-caption d-none d-md-block">
         <form action="/clubs" >
            <button  class="btn btn-outline-light">Know about Clubs</button>
        </form>
       <p>You can join different clubs according to your interests and explore new things.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="images/trip.jpg" class="d-block w-100 imgCarousel" alt="...">
      <div class="carousel-caption d-none d-md-block">
         <form action="/announcements">
            <button class="btn btn-outline-light">Know about Fest's and Trips</button>
        </form>
       <p>We organize various Fests and trips.They are the real fun.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>