
  <footer class="bg-dark text-center text-lg-start text-white mt-1">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row mt-4">

        <div class=" col-md-4 mb-4 mb-md-0">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact Us</h6>
            <hr>
            <p><i class="bi bi-house"></i> Dharmshala, HP 176215, India</p>
            <p><i class="bi bi-envelope-paper"></i> tarunparmar752@gmail.com</p>
            <p><i class="bi bi-telephone"></i> + 91 70183 40792</p>
            <p><i class="bi bi-phone"></i> + 91 70182 43974</p>
        </div>

        <div class="col-md-4 mb-4 mb-md-0">
          <h6 class="text-uppercase mb-4 font-weight-bold">Links</h6>
          <hr>
          <ul class="list-unstyled mb-0">
            <li class="mb-1">
               <a class="foot" href="/">Home</a>
            </li>
            <li class="mb-1">
              <a class="foot" href="clubs">Clubs</a>
            </li>
            <li class="mb-1">
             <a class="foot" href="placements">Placements</a>
            </li>
            <li>
              <a class="foot" href="internship">Internships</a>
            </li>
            <li>
              <a class="foot" href="exam">Exams</a>
            </li>
            <li>
              <a class="foot" href="announcements">Announcements</a>
            </li>
            <li>
              <a  class="foot" href="connect">Connect to peers</a>
            </li>
          </ul>
        </div>


        <div class=" col-md-4  mb-4 mb-md-0">
            <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>
            <hr>
            <!-- Facebook -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #3b5998"
               href="#!"
               role="button"
               ><i class="bi bi-facebook"></i></a>

            <!-- Twitter -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #55acee"
               href="#!"
               role="button"
               ><i class="bi bi-twitter"></i></a>

            <!-- Instagram -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #ac2bac"
               href="#!"
               role="button"
               ><i class="bi bi-instagram"></i></a>

            <!-- Linkedin -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #0082ca"
               href="#!"
               role="button"
               ><i class="bi bi-linkedin"></i></a>
            <!-- Github -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #333333"
               href="#!"
               role="button"
               ><i class="bi bi-github"></i></a>
          </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
     <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2023 Copyright:
      <a class="foot" href="">College Space</a>
    </div>
    <!-- Copyright -->
  </footer>

<!-- End of .container -->




        
    