.imgCarousel {
  height: 90vh;
  filter: brightness(60%);
  background-size: cover;
  background-position: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

a {
  text-decoration: none;
}

.foot {
  color: white;
}

.size {
  width: 100%;
  height: 36vh;
  object-fit: cover;
  object-position: center;
  
}

.drop {
border: solid rgb(142, 141, 141) 0.5px;
}
.sizeInd {
  width: 100%;
  height: 36vh;
  object-fit: cover;
  object-position: center;
  
}
.sizeConnect {
  width: 100%;
  height: 43vh;
  object-fit: cover;
  object-position: center;
  
}

.dep {
   width: 100%;
   height: 30vh;
  object-fit: cover;
  object-position: center;

}

.alumniImg {
  border-radius: 50%;

}

.background {
 background-color: rgb(225, 221, 216);

}

.placementsImg {
  height: 50vh;
  filter: brightness(40%);
  background-size: cover;
  object-fit: cover;
  background-position: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}


.exam {
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/exams2.png");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

 li.hover:hover {
 background-color: rgb(234, 226, 214);

}

 .register {
    height: 100%;
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}

.registerPic {
 height: 60vh;

}

.errorPic {
 height: 70vh;

}

.loginImg {
  height: 40vh;
  background-size: cover;
  object-fit: cover;

}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.profilePic {
 height: 40vh;
 width: auto;
 object-fit: contain;

}

.notes {
   height: 25vh;
   object-fit: contain;
}

.edit_image {
   height: 5vh;
   border-radius: 20%;
   object-fit: contain;

}