<%- layout('boilerplate/branch') %>

      <section>
       <div class="form-group">
        <select
          class="form-control"
          id="exampleFormControlSelect1"
          onchange="semFunc(this.value)"
        >
          <option value=" ">Choose Semester...</option>
          <option value="8">8</option>
          <option value="7">7</option>
          <option value="6">6</option>
          <option value="5">5</option>
          <option value="4">4</option>
          <option value="3">2</option>
          <option value="1">1</option>

        </select>
      </div>
     </section>
 




<script>
  function semFunc(e) {
    if (e) {
      document.location.href = "/connect/<%= list.dep %>/" + e;
    }
  }
  examFunc();
</script>