<% if ( user.image) {%>
        <img src="<%= user.image %>"
        class="card-img-top profilePic m-2" alt="Kindly Upload an Image">
        <% if (user._id.equals(currentUser._id)) {%>
         <form action="/profile/<%= user._id %>/update_img" method="POST" enctype="multipart/form-data">
           <div>
              <!-- <label for="image">
                  <img class="edit_image" src="/images/edit.png" alt="edit button">
              </label> -->
              <input id="image" name="image" type="file" />
           </div>
              <button class="btn btn-primary mt-2">Update new image</button>
        </form>
         <% } %>
       <% } else { %>
           <form action="/profile/<%= user._id %>/update_img" method="POST" enctype="multipart/form-data">
                 <div class="image-upload">
                    <label for="file-input" style="display: block;">
                         <img src="/images/user1.png"/>
                    </label>
                 <% if (user._id.equals(currentUser._id)) { %>
                    <input  id="image" name="image" type="file" />
                  </div>
                 <button class="btn btn-primary"> Upload </button>
                <% } %>
            </form>
        <% } %>