<% layout('boilerplate/boilerplate') %>
<div class="container  justify-content-center align-items-center mt-3 mb-3 p-4 pt-0">
  <div class="row justify-content-md-center rounded-3 border m-4 p-4 ">
    <div class="col-12 col-md-6  m-0 p-0">
      <div class="card border-0 m-0 p-0 register"  >
        <div class="card-body m-2">
          <form action="/register" method="post"  class="needs-validation"  novalidate enctype="multipart/form-data">
            <h1 class="text-center">Register</h1>
            <div class="mb-3">
              <label for="name" class="form-label"
                >Name</label
              >
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                autofocus
                required
              />
              <div class="valid-feedback">
                 Looks good!
              </div>
            </div>
            <div class="mb-3">
              <label for="username" class="form-label"
                >Username</label
              >
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                required
              />
              <div class="valid-feedback">
                 Looks good!
              </div>
            </div>
            <div class="mb-3">
              <label for="department" class="form-label"
                >Department</label
              >
                 <select class="form-select" name="department" id="department" aria-label="Default select example" required>
                    <option value="">None</option>
                    <option value="Computer Science and Engineering">Computer Science Engineering</option>
                    <option value="Mechanical Engineering">Mechanical Engineering</option>
                    <option value="Electrical Engineering">Electrical Engineering</option>
                </select>
               <div class="valid-feedback">
                 Looks good!
              </div>
            </div>
            <div class="mb-3">
              <label for="rollNo" class="form-label"
                >Roll Number</label
              >
              <input
                type="number"
                class="form-control"
                id="rollNo"
                name="rollNo"
                aria-describedby="rollNo"
                required
              />
             <div id="rollNo" class="form-text">Kindly enter your unique university roll No.</div>
               <div class="valid-feedback">
                 Looks good!
              </div>
            </div>

            <div class="mb-3">
              <label for="sem" class="form-label"
                >Semester</label
              >
               <select class="form-select" name="semester" id="sem" aria-label="Default select example" required>
                    <option value="">None</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
               <div class="valid-feedback">
                 Looks good!
              </div>
            </div>

            <div class="mb-3">
              <label for="image" class="form-label"
                >Upload Image</label
              >
               <input type="file"  id="image" name="image" class="form-control" aria-describedby="inputGroupFileAddon04" aria-label="Profile Image">
               <div class="valid-feedback">
                 Looks good!
              </div>
            </div>

            <div class="mb-3">
              <label for="email" class="form-label"
                >Email address</label
              >
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                aria-describedby="emailHelp"
                required
              />
               <div class="valid-feedback">
                 Looks good!
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                required
              />
               <div class="valid-feedback">
                 Looks good!
              </div>
            </div>
            <button class="btn btn-primary">Submit</button>
             <p>Already Registered?<a href="/login">  Login</a></p>
          </form>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 m-0 p-0 register">
    <div class="card border-0" >
       <img src="images/register.jpg" class="card-img-top registerPic" alt="...">
       <div class="card-body m-4">
       <p class="card-text">College Space is a place where students can directly interact with other students. Here you can access amazing notes
       as well as the necessary pyq's to easily surpass the hurdles during exams. College space provides you with information related
      to our alumni's as well as to current peers. You can also explore about various clubs of our instituion and other announcements here.</p>
     </div>
    </div>
    
      
     </div>
    </div>
  </div>
</div>

