<% layout('boilerplate/boilerplate') %>

<div class="container mt-4 p-4">
  <section style="height: 30vh">
    <img class="dep" src="<%= list.image %>" alt="" />
  </section>

  <section class="p-4">
    <h2 class="text-center">Department of <%= list.department %></h2>
    <p>
     The Department of Computer Science and Engineering (CSE)  stands as a beacon of innovation and academic excellence. Our dynamic and forward-thinking faculty members are dedicated to shaping the next generation of tech leaders and problem solvers. Within our cutting-edge curriculum, students delve into a comprehensive range of subjects, from algorithms and data structures to artificial intelligence and machine learning.

State-of-the-art laboratories equipped with the latest technology provide a hands-on learning experience, fostering practical skills that complement theoretical knowledge. Our commitment to fostering a collaborative and creative environment is reflected in various student-led initiatives, hackathons, and coding competitions that enrich the academic journey.

At the Department of CSE, we recognize the evolving landscape of technology, and our curriculum is designed to stay at the forefront of these advancements. Our students are encouraged to embark on research projects, internships, and industry collaborations to gain real-world insights and apply their knowledge to solve complex problems.

Whether students aspire to become software engineers, data scientists, or technology entrepreneurs, the Department of CSE equips them with the skills and mindset needed to thrive in a rapidly changing digital world. Join us on a transformative educational journey where innovation, collaboration, and excellence converge, paving the way for a future at the forefront of technology.
    </p>
  </section>

  <%- body %>
</div>
