<% layout('boilerplate/boilerplate') %>
<div class="row">
  <div class="col-12">
    <div class="container p-4">
      <section style="height: 30vh">
        <img class="dep" src="/images/exams.jpg" alt="" />
      </section>
      <h1 class="text-center font-weight-bold m-4">Exams</h1>
      <p>
        Exam season comes along with lots of anxiety and stress. One of the
        major issues during exam season is to what to study and where to study
        from? Lots of folks waste so much of their crucial time in wondnering
        what could be the most appropriate material covering all the important
        topics relsted to the exams. We find lots of trouble in getting plenty
        of content to write in our answer sheets so that we can write according
        to the word limits. All these issues cost students a huge amount of work
        as well as huge amount of time investment. Keeping all these issues in
        mind we have made this section of our website so that we can save a lot
        of effort and time of students. We have tried to deliver all the
        necessary as well as sufficient notes to the students in keeping in mind
        the need of the exams. We have also provided you with previous year
        question papers so that you can get a clear idea of paper pattern. This
        material is sufficient enough to make anyone pass the exam and also
        score decent marks.
      </p>
      <h5>
        You can access the study material by selecting your respective
        department :-
      </h5>
      
    </div>
  </div>
</div>
<%- body %>